@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

a {
  cursor: pointer;
}

header {
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3.2px;
}

.gradient {
  background-color: whitesmoke;
}
